:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  font-size: 20px;
  padding: 20px;
}

ul{
  display: flex;
  gap: 48px;
}

li{
  display: inline;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--foreground);
}

.botones {
  display: flex;
  gap: 24px;
}

.boton {
  height: 30px;
  width: 100px;
}

strong{
  color: rgb(16, 183, 188);
}

main{
  padding: 10px 20px;
}

section{
  padding: 10px 50px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}